
# Replace placeholders before committing.
* @{{DEFAULT_OWNER}}
.github/workflows/ @{{DEVOPS_OWNER}}
infra/ @{{DEVOPS_OWNER}}
deploy/ @{{DEVOPS_OWNER}}
ops/ @{{DEVOPS_OWNER}}
apps/ @{{DEFAULT_OWNER}}
packages/ @{{DEFAULT_OWNER}}
services/ @{{DEFAULT_OWNER}}
